     
<div id="header">
    <a href="" class="logo">
        <img src="assets/Sweet Pa.png" alt="Logo thú cưng">
    </a>      
<div style="float: left; font-size: 50px; line-height: 50px;color: #000000;"><b><u><i>Petopia</i></u></b></div>
    <div id="menu">
        <div class="item" style="margin-left:50px;">
            <a href="/">Trang chủ</a>
            </div>
        <div class="item">
            <a href="/dichvuindex">Dịch vụ</a>
        </div>
        <div class="item">
          <a href="/datlich">Đặt lịch</a>
      </div>
        <div class="item">
            <a href="/tranglienhe_dkthongtin">Liên hệ</a>
        </div>
        <div class="item">
          <a href="/hoso">Hồ sơ</a>
      </div>                
        <div class="item">
            <a href="/trangthai">Thú cưng của bạn</a>
        </div>
        <div class="item">
            <a href="/dangnhap">Đăng nhập</a>
        </div>
    </div>
    <div id="actions">
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="assets/cart.png" alt="">
        </div>
    </div>
</div>