<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="style.css">
    <style>
      #menu {  list-style:none;  display: flex;}
      #menu .item {   margin:0px 20px 0px 20px;}
      #menu .item a {  font-weight: bold;   color:#0000FF;  text-decoration: none;}

    body {
        font-family: Arial, sans-serif;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-top-color: #ADD8E6;
        border-style:solid
    }

    h1 {
        text-align: left ;
    }

    form {
        margin-top: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"]
    input[type="email"],
    input[type="date"],
    input[type="number"] {
        width: calc(100% - 10px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"] {
        margin-top: 20px;
        margin-left: 100px;
        width: 200px;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
</head>
<body>

        <hr style="border-color: #ADD8E6;height:2px; border-width: 10px;">
        
        <%- include('includes/navigation.ejs') %>
    <hr style="border-color: #ADD8E6;height:2px; border-width: 10px;">

    
    <div class="container">
        <h1>Đặt lịch hẹn cho thú cưng</h1>
        <form action="#" method="post">
            <label for="pet-name">Tên thú cưng:</label>
            <input type="text" id="pet-name" name="pet-name" required style="width:400px; height: 30px">
            <label for="owners-name">Tên người đặt lịch:</label>
            <input type="text" id="owners-name" name="owners-name" required style="width:400px; height: 30px">
            <label for="phone-num">Số điện thoại: </label>
            <input type="text" id="phone-num" name="phone-num" required style="width:400px; height: 30px">
            <label for="schedule-day">Ngày đặt lịch:</label>
            <input type="date" id="schedule-day" name="schedule-day" required style="width:400px; height: 30px">
            <label for="schedule-time">Thời gian hẹn</label>
            <input type="time" id="schedule-time" name="schedule-time" required style=" height: 30px">

            <label for="pet-health">Tình trạng sức khỏe:</label>
            <select id="pet-health" name="pet-health" required style=" height: 30px">
                <option value="healthy">Khỏe mạnh</option>
                <option value="normal">Bình thường</option>
                <option value="weak">Yếu</option>
            </select>
            <label for="basis">Chọn cơ sở:</label>
            <select id="basis" name="basis" required style="width:400px; height: 30px">
                <option value="basis1">Cơ sở 1: VRC2+2MP, Phường Linh Trung, Thủ Đức, Thành phố Hồ Chí Minh</option>
                <option value="basis2">Cơ sở 2: VR93+JH4 Cổng C Trường ĐH Công nghệ thông tin, Khu Phố 6, Thủ Đức, Thành phố Hồ Chí Minh</option>
                <option value="basis3">Cơ sở 3: 97 Quang Trung, Phường 8, Gò Vấp, Thành phố Hồ Chí Minh</option>
            </select>
            <label for="packages">Chọn gói dịch vụ:</label>
                <select id="packages" name="packages" required style="width:400px; height: 30px">
                    <option value="normal">Thường</option>
                    <option value="high-quality">Cao cấp</option>
                    <option value="profess">Chuyên nghiệp</option>
                    <option value="later">Chưa quyết định</option>
                </select>    
            <label for="owners-email">Email chủ thú cưng:</label>
            <input type="email" id="owners-email" name="owners-email" required style="width:400px; height: 30px">
    
            <input type="checkbox" id="add-to-mailing-list" name="add-to-mailing-list" value="true">

            <label for="describe">Lời nhắn (không bắt buộc): </label>
            <textarea id="describe" name="describe" style="width:400px;"></textarea>
            <script>
            document.addEventListener("DOMContentLoaded", function() {
            var textarea = document.getElementById('describe');
            
            textarea.addEventListener('input', function() {
                autoExpand(this);
            });

            function autoExpand(textarea) {
                textarea.style.height = 'auto';
                textarea.style.height = (textarea.scrollHeight) + 'px';
            }

        
            autoExpand(textarea);
});

            </script>

            <br/>
            <input type="submit" value="Xác nhận đặt lịch">
            <br/>
        </form>
        <br/>
        <div><i>Sau khi điền form và đặt lịch thành công, </i></div>
        <div><i> quý khách vui lòng chờ cuộc gọi xác nhận từ</i></div>
        <div><i>Petopia trước khi đem thú cưng tới nhé!</i></div>
    </div>



    <%- include('includes/end.ejs') %>
